
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Baskerville, serif;
}

.grid-container {
    display: grid;
    grid-template-rows: 75px 50px auto; 
    /* first row (title) is 100px, second row is 900px (i want this to be unlimited */
    grid-template-columns: 75% 25%;
    /* these are for the first column(75%) whcih is where the menu plans will go and the 
    second column (25%) which is where the grocery list will go */
    background-color: rgb(232, 232, 232);
    color: rgb(40, 40, 43);
    font-family: Baskerville, serif;
}

hr {
    background-color: rgb(40, 40, 43);
    border: none;
    height: 1px;
}

.header-div {
    grid-column: 1 / -1; /* Span all columns */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #aaa;
}

#header-pear-photo {
    width: 3%;
}

/* this is the meal planner column  */
.left-column {
    min-height: 900px;
    background-color: rgb(232, 232, 232);
}

.plans {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
    width: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.modal-content h4 {
    margin-right: 10px; 
    flex-shrink: 0; 
}

.modal-content input {
    width: 100%; 
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; 
    margin-top: 3px;
}

#close-modal {
    color: #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 50px;
    width: 20px;
    font-size: 28px;
    font-weight: bold;
}

.add-new {
    grid-column: 1;
    grid-template-rows: auto;
    display: grid;
    padding: 8px 10px;
}

#add-new-button,
#clear-all-button,
#add-plan-button {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(232, 232, 232);
    border-radius: 3px;
    padding: 5px 12px;
    color: rgb(40, 40, 43);
    border: 2px solid #aaa;
    cursor: pointer;
    float: right;
}

#new-plan-edit-button {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(232, 232, 232);
    border-radius: 3px;
    padding: 3px 7px;
    cursor: pointer;
    color: rgb(40, 40, 43);
    border: 2px solid #aaa;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-left: 10px;
    float: right;
}

#new-plan-delete-button {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(232, 232, 232);
    border-radius: 3px;
    padding: 3px 7px;
    cursor: pointer;
    color: rgb(40, 40, 43);
    border: 2px solid #aaa;
    float: right;
    

}

.new-plan {
    margin: 5px 0 5px 0;
    background-color: rgb(192, 204, 194);
    padding: 5px 5px 5px 5px;
    /* padding-left: 5px; */
    border-radius: 8px;
}


/* this is the grocery list column */
.right-column {
    grid-column: 2/2;
    min-height: 900px;
    background-color: rgb(192, 204, 194);
    border-left: 2px dashed #aaa;
    display: grid;
    grid-template-rows: inherit;
}

.grocery-buttons {
    grid-column: 1;
    display: flex;
    justify-content: flex-end;
    padding: 8px 10px;
    gap: 5px;
}

.grocery-list {
    margin-left: 25px;
    font-size: large;
    font-weight: bold;
}

#add-new-item-to-list {
    background-color: rgb(232, 232, 232);
    border-radius: 3px;
    padding: 3px 5px;
    color: rgb(40, 40, 43);
    border: 2px solid #aaa;
    cursor: pointer;
    font-weight: bold;
}

#grocery-list-input {
    background-color: rgb(232, 232, 232);
    border-radius: 3px;
    border: 2px solid #aaa;
}


#grocery-list-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    border-bottom: 2px solid rgb(40, 40, 43);
}
